<div class="about-pic">
    <div class="mid-two">

        <a href='/#/signUp'>
            <button class="log-in">Sign up</button>
        </a>

        <div>
            <h1 class="About-big">About Us</h1>
        </div>
        <p class="who-we-are">
            Le Retour or “The journey back”<br> will take you to a time where things were simpler. This world is your journal, take it with you, share your experiences. Write as much or as little as you’d like.
            <br> Share your journey and follow others throughout theirs.
            <br> Le Retour is an app that everyone can use. Simply sign up
            <br><span class="words-run">and let your words run free</span>
            <br>
        </p>







    </div>
</div>