<!DOCTYPE html>
<html>
<nav-bar></nav-bar>
<div>

<!--    <i class="fa fa-user"></i>-->

        <sign-out-button></sign-out-button>
    
    
<!--
</div>
<div class="title-date">
<input type="text" name="tname" placeholder="Title">
<input type="text" name="dname" placeholder="Date">
<input type="text" name="locname" placeholder="Location">
</div>
    
-->
<!--
<div class="title-date-final">
<input type="text" name="tfinal" placeholder="">
<input type="text" name="dfinal" placeholder="">
<input type="text" name="locfinal" placeholder="">
</div>
        
-->
<!-- Create the toolbar container -->


    
<head>
</head>

<body class="main">

    <form style="margin-top: 175px">

        <text-angular class="ang-text"  ng-model="journalText.text"rows="50">



        </text-angular>



    </form>
    <a href='/#entries'>
        <button class="submit">Save</button>
    </a>


</body>




</html>