<div class="top">
<!--    <i class="fa fa-user"></i>-->
    <a href='/#/signUp'>
        <button class="log-in">Sign up</button>
    </a>
</div>
<div class="background-pic">
    <div class="mid-three">



        <h1 class="h-about">Le Retour</h1>
<!--        <p class="subheading">This world is your journal, take it with you, share your experiences.</p>-->
        <!--    <h1>{{message}}</h1>-->


        <input type="text" ng-model="userEmail" placeholder="Email">

        <input type="password"  ng-model="newPassword" placeholder="Password">



        <br>


            <button ng-click="logInPage()" class="pure-button">Log in</button>
   


        <footer>

            <a class="twitter-follow-button" href="https://twitter.com/_leretour" data-size="large" data-show-count="false">
                <button><i class="fa fa-twitter"><span class="follow-text">Follow @_leretour</span></i></button>
            </a>

        </footer>


    </div>
</div>