<div class="top">
<!--    <i class="fa fa-user"></i>-->
    <a href='/#/logIn'>
        <button class="log-in">Log in</button>
    </a>
</div>
<div class="background-pic">
    <div class="mid">





        <!--        <li hover add-class="green">-->
        <a href='/#/about'>
            <h1 class="sign-up-font">Le Retour</h1></a>
        <h4 class="subheading">This world is your journal, take it with you, share your experiences.</h4>
        <!--    <h1>{{message}}</h1>-->


        <input ng-model="newEmail" type="text" placeholder="Email">

        <input ng-model="newPassword" type="password"  placeholder="Password">

       

        <br>

      
            <button ng-click="signUpPage()" class="pure-button">Sign Up</button>
  



        <footer>



            <a class="twitter-follow-button" href="https://twitter.com/_leretour" data-size="large" data-show-count="false">
                <button><i class="fa fa-twitter"><span class="follow-text">Follow @_leretour</span></i></button>
            </a>

        </footer>




    </div>
</div>