<header>
    <div class="top">
        <!--    <i class="fa fa-user"></i>-->
        <a href="/#/logIn">
            <img alt="brand" src="/images/treegreen.jpg" class="navbar-logo">
        </a>
        <a href='/#/signUp'>
            <button class="log-in">SIGN UP WITH EMAIL</button>
        </a>
                <a href='/#/about'>
            <button class="about-btn">About</button>
        </a>
    </div>
</header>
<div class="background-pic">
    <div class="mid-three">



       
            <h1 class="h-about">Le Retour</h1>


        <div class="input-field">
            <input type="text" ng-model="user.email" placeholder="Email" spellcheck="false" class="transparent-input">

            <input type="password" ng-model="user.password" placeholder="Password" ng-enter="logInPage()"  class="transparent-input">
        </div>


        <br>

        <button class="signup-log" ng-click="logIn(user)">Log in</button>




        <footer>

            <!--<div class="twitter">-->
                <a href="https://twitter.com/_leretour" target="_blank"><img src="/images/tweet-four.png" alt="tweet" class="twitter-logo">
            </a>
            <a href="https://facebook.com/leretourjournal" target="_blank"><img src="/images/fb-four.png" alt="facebook" class="fb-logo">

            <a href="https://instagram.com/_leretour" target="_blank"><img src="/images/ig-one.png" alt="instagram" class="ig-logo">
        </footer>


    </div>
</div>