html, body {
    margin: 0 auto;
}
button {
    cursor: pointer; cursor: hand;
}

.sign-up-font {
    font: 400 100px/1.3 'Lobster Two', Helvetica, sans-serif;
    color: white;
    text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-size: 58px;
    margin-top: 10%;
    margin-bottom: 12%;
    text-decoration: none;
    text-align: center;
    
}

.about-tool {
    text-decoration: none;
}

.h-about {
    font: 400 100px/1.3 'Lobster Two', Helvetica, sans-serif;
    color: white;
    text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-size: 55px;
    margin-top: 0;
    margin-bottom: 18%;
}

.subheading {
    font-family: Oswald;
    margin-top: 10%;
    margin-bottom: 12%;
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: 300;

}

.title-date {
    box-sizing: border-box;
    /*    padding: 50px 50px;*/
    border: none;
    /*    border-radius: 2px;*/
    width: 150px;
    /*    margin: auto;*/
    padding-top: 5%;
    padding-right: 5%;
    position: absolute;
    padding: 0;
    top: 29.5%;
    left: 15px;
}


/*
.title-date-final {
    box-sizing: border-box;
    border: none;
    width: 150px;
    padding-top: 5%;
    padding-right: 5%;
    position: absolute;
    padding: 0;
    top: 7%;
    left: 14%;
}
*/


.mid {
    box-sizing: border-box;
    /*padding: 5px 50px;*/
    border: none;
    border-radius: 2px;
    width: 300px;
    margin: auto;
    padding-top: 7%;
    text-align: center;
}
.mid-1 {

    border: none;
    border-radius: 2px;
    width: 230px;
    margin: auto;

}

.mid-two {
    box-sizing: border-box;
    padding: 50px 50px;
    border: none;
    border-radius: 2px;
    width: 400px;
    margin: auto;
    padding-top: 10%;
}

.mid-three {
    box-sizing: border-box;
    padding: 50px 50px;
    border: none;
    border-radius: 2px;
    width: 300px;
    margin: auto;
    padding-top: 17%;
}

input {
    width: 100%;
    padding-top: 10%;
    font-size: 15px;
    box-sizing: border-box;
    padding-left: 5px;
    outline: 0;
}
header {
    width: 100%;
    height: 40px;
    position: fixed;
}
/*.top {
    height: 6%;
    position: relative;
    top: 0px;
    left: 0px;
}*/

footer {
    width: 100%;
    height: 6%;
    /*position: fixed;*/
    background: none;
    bottom: 0;
    left: 0;

}

/*.twitter-follow-button {
    right: 8px;
    position: fixed;
    bottom: 10px;
    color: dodgerblue;
    font-size: 12px;
}*/
/*twitter-test*/
/*.twitter {
    position: fixed;
    bottom: 2px;
    right: 20px;
}*/
.ig-logo {
    height: 25px;
    width: 25px;
    position: fixed;
    bottom: 10px;
    right: 95px;
}

.fb-logo {
    height: 25px;
    width: 25px;
    position: fixed;
    bottom: 10px;
    right: 60px;
}
.twitter-logo {
    height: 25px;
    width: 25px;
    position: fixed;
    bottom: 10px;
    right: 20px;
}
*:focus {
    outline: 0 !important;
}
.signup-log {
    font-family: Oswald;
    font-weight: 300;
    color: white;
    background-color: dodgerblue;
    padding: 8px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 5px;
    font-size: 17px;
    width: 100%;
    border: none;
    border-radius: 2px;

   }

        


.fa-user {
    position: absolute;
    top: 1.5%;
    left: 25px;
    color: darkgray;
}
.journallog-in {
    background: none;
    border: none;
    padding: 0;
    margin-top: 1%;
    color: darkgray;
    font-size: 13px;
    float: right;
    padding-bottom: 20px;
    padding-right: 30px;
  
}
hr {
    clear: both;
}
   


button.log-in {
    background: none;
    /*opacity: 0.4;*/
    border: 2px solid dodgerblue;
    border-radius: 5px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 10px;
    position: fixed;
    right: 20px;
    color: white;
    font-size: 12px;
    font-family: Oswald;
    text-align: center;
    outline: 0;
    font-weight: 300;
}
button.about-btn {
    background: none;
    /*opacity: 0.4;*/
    border: none;

    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 10px;
    position: fixed;
    right: 12%;
    color: white;
    font-size: 13px;
    font-weight: 300;
    font-family: Oswald;
    text-align: center;
    outline: 0;
}
button.sign-out {
    background: none;
    position: absolute;
    border: none;
    padding: 0;
    top: 1.5%;
    right: 25px;
    color: darkgray;
    font-weight: bold;
    font-size: 13px;
}
.save-btn {
    text-decoration: none;
    font-size: 12px;
    background: black;
    color: white;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Oswald;
    font-weight: 300;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 3px;
    float: right;
    
}
.update-btn {
    text-decoration: none;
    font-size: 12px;
    background: black;
    color: white;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Oswald;
    font-weight: 300;
    margin-top: 10px;
    margin-right: 20px;
    border-radius: 3px;
    float: right;
}
.public-btn {
    margin-top: 4px;
    float: right;
    font-family: Oswald;
    font-weight: 400;
    font-size: 11px;
    border-radius: 3px;
    background: none;
    color: black;
    border: 1px solid whitesmoke;
    padding-bottom: 1px;
    padding-top: 1px;
    margin-right: 7px;
}
.stretch {
    clear: both;
}


.form {
    margin-top: 0%;
}

.background-pic {
    background-image: url("/shared/images/leriver.jpg");
    /*background-repeat: no-repeat;*/
    background-size: cover;
    margin: 0 auto;
   
    z-index: -100;
    height: 100vh;  
    width: 100vw;
    /*    background-color: lightgray;*/
}

.about-pic {
    background-image: url("/shared/images/rivers.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.who-we-are {
    font-family: Oswald;
    line-height: 200%;
    margin-top: 7%;
    text-align: center;
    font-style: bold;
    color: white;
    font-size: 19px;
    font-weight: 300;
   
}

.more-about-us {
    background-color: mediumseagreen;
    width: 90%;
    font-size: 40px; color: white;
    font-weight: 500;
    margin-top: 10%;
    padding-left: 2%;
    opacity: 0.4;
    margin: auto;
    font-family: Oswald;
    text-align: center;
    font-weight: 300;
    
}
/*.more-about-text {
    font-size: 35px;
}*/
.tree-icon {
    opacity: 25;
    height: 40px;
    width: 40px;
    margin-bottom: 4px;
    
}


span.words-run {
    font: 400 27px/1.3 'Lobster Two', Helvetica, sans-serif;
    color: white;
    font-weight: 300;
}

 .new-title {
     
     
     border: none;
     outline: none;
     font-size: 32px;
     width: 100%;
     padding-top: 5%;
     padding-bottom: 3%;
     font-family: Oswald;
     font-weight: 300;

  
     
    
}
 
.user-journal {
 
    display: block;
    width: 100%;
    height: 80%;
    resize: none;
    font-size: 18px;
    /*-moz-border-radius: 15px;*/
    border-radius: 15px;
    border: solid 1px black;
    -webkit-box-shawdow: none;
    outline: none;
    border-color: none;
    border: none;
    padding-left: 5px;
    font-family: Oswald;
    font-weight: 300;
    overflow: auto;
    
}
.container ::-webkit-scrollbar {
    display: none;
}
body {
    background-color: white;
}
.container {
    

    border-radius: 13px;
    border: solid 1px lightgray;
    width: 45%;
    padding: 2%;
    margin: auto;
    clear: both;
    /*align-content: center;*/




    
}
.container-fluid {
    background-color:  white;
}
.logo-one {
   width: 6%;
   padding-left: 15px;
   padding-top: 15px;
}


.logo-two {
    float: left;
    width: 12%;
    margin-top: 1%;
    padding-left: 6%;
    bottom: 0px;
    /*transform: rotate(-5deg);*/
}
.journal-logo{
    padding-top: 5px;
    height: 50px;
    width: 50px;
    opacity: 1;
    border-radius: 5px;
}
.header-txt {
    padding-left: 3%;
    font-family: Arial;
    font-weight: bold;
    font-size: 16px;
}
.navbar-logo {
    
    position: fixed;
    top: 10px;
    left: 10px;
    height: 40px;
    width: 40px;
    opacity: 0.6;
    border-radius: 5px;
}
.navbar-logo-two {
    
    height: 30px;
    width: 30px;
    opacity: 0.7;
    border-radius: 5px;
    float: right;
    margin-right: 20px;

    

}


/*button.submit {
    background-color: lightgray;    
    color: grey;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 5%;
    margin-right: 3%;
    float: right;
    font-size: 14px; 
    font-weight: bold;
    margin-top: 0%;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}
button.submit:focus{
    outline: 0;
}
button.submit:hover{
    border: 0.5px solid darkgray;
    color: black;
    box-shadow: 0.5px 0.5px 1px #888888
}*/

.About-big {
    font: 400 100px/1.3 'Lobster Two', Helvetica, sans-serif;
    color: white;
    text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-size: 55px;
    /*margin-top: 0;*/
    box-sizing: border-box;
    padding-left: 45px;
    /*padding: 50px 50px;*/
    /*border: none;*/
    /*border-radius: 2px;*/
    width: 400px;
    margin: auto;
    /*padding-top: 5%;*/
    font-weight: 500;
}



/*
* {
    list-style: none;
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
*/



#navBar {
    height: 20px;
    color: darkgray;
}
#navBar ul {
    position: absolute;
    top: 1.5%;
    left: 10px;
    /*    text-decoration: none;*/
    
    list-style: none;
    /*    color: red;*/
    
    font-size: 13px;
}
/*.green {
    color: dodgerblue;
}*/
form {
    margin-top: 100px;
    width: 70%;
    margin: auto;
}
.ta-toolbar {
    margin-top: 100px;
    width: 100%;
    margin: auto;
}
.entry-text .ta-toolbar {
    display: none;
}
.entry-text {
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 5px;
    border: 1px solid black;
    padding-top: 15px;
    width: 150px;
    display: inline-block;
}

.journal-button {
    background: none;
    position: absolute;
    border: none;
    padding: 0;
    top: 1.5%;
    right: 25px;
    color: darkgray;
    /*font-weight: bold;*/
    font-size: 13px;
}
.logcontainer {
    display: flex;
    
}
.entry-header {
    width: 100%;
    length: 50%;
}

.entry-user-name {
    background: none;
    top: 90px;
    position: fixed;
    right: 115px;
    font-family: Oswald, sans-serif;
    font-weight: 300;
    font-size: 24px;
}

.dropdown {
    float: right;
    top: 10px;
    right: 25px;
    position: relative;
    display: inline-block;
}
.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    display: none;
    margin: 0;
    list-style: none;
    width: 100%;
    padding: 0;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown button {
    background: none;
    color: #FFFFFF;
    border: none;
    margin: 0;
    padding: 0.4em 0.8em;
    font-size: 1em;
}
.dropdown a {
    display: block;
    padding: 0.2em 0.6em;
    text-decoration: none;
    background: #333333;
    color: white;
    font-family: Oswald;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    margin: auto;
    border-radius: 2px;
}
.dropdown a:hover {
    background: #BBBBBB;
}
.logo-controller {
    top: 10px;
    left: 10px;
    height: 40px;
    width: 40px;
    opacity: 0.6;
    border-radius: 5px;
}




.search-button {  
    color: black;
    background: none;
    font-size: 14px;
    border: none;
    text-decoration: none;
    float: right;
    margin-right: 15px;
    padding-top: 7px;
    outline: none;
}
.search-button:hover {
    text-decoration: underline;
    color: black;
}
.entry-button {
    color: black;
    background: none;
    font-size: 14px;
    text-decoration: none;
    float: right;
    margin-right: 15px;
    padding-top: 7px;
    outline: none;
}
.logout-button {  
    color: black;
    background: none;
    font-size: 14px;
    text-decoration: none;
    float: right;
    margin-right: 15px;
    padding-top: 7px;
    outline: none;
}
.logout-button:hover {
    text-decoration: underline;
    color: black;
}



.user-name {
    padding-bottom: 15px;
    text-align: center;
  
}
.user-container {

    background: #fafafa;
    /*position: relative;*/
    width: 100%;
    margin-top: 25px;
    margin-bottom: 5%;
    padding-top: 15px;
    padding-left: 10px;
    color: black;
    font-size: 28px;
    font-weight: 300;
    font-family: Oswald, sans-serif;
    float: left;

    
}
/*.user-container-two {
    background: none;
  
    width: 100%;
    margin-top: 100px;

    padding-top: 10px;
    padding-left: 10px;
    color: black;
    font-size: 24px;
    font-weight: 300;
    font-family: Oswald, sans-serif;
    float: left;
    position: absolute;
}
.user-name-two {
    padding-bottom: 10px;
    text-align: center;
}*/

.profile-tree-image {
    /*border: 1px solid lightgrey;*/
    /*opacity: 10;*/
    height: 60px;
    width: 60px;

}


.entry-header-text {
    font-family: Oswald;
    font-size: 48px;
    /*border: 1px solid black;*/
    position: fixed;
    top: 25px;
    left: 35px;
}
.entry-header-two {
    font-family: Oswald;
    font-size: 48px;
    /*border: 1px solid black;*/
    position: relative;
    top: 10px;
    left: 35px;
}
.public-header-two {
    font-family: Oswald;
    font-size: 48px;
    color: black;
    /*border: 1px solid black;*/
    position: relative;
    top: 10px;
    left: 35px;
}
 

.title {
    
    font-weight: 400;
    font-family: Oswald;
    font-size: 16px;
    text-align: left;
    padding-top: 0px;
    /*align-content: center;*/
    background: none;
    border: none;
    margin-bottom: 1px;
   

}
.entry-public-button {
    margin-top: 4px;
    float: right;
    font-family: Oswald;
    font-weight: 400;
    font-size: 11px;
    border-radius: 3px;
    background: none;
    color: black;
    border: 1px solid whitesmoke;
    padding-bottom: 1px;
    padding-top: 1px;
}

.edit-button {
    margin-top: 4px;
    float: right;
    font-family: Oswald;
    font-weight: 400;
    font-size: 11px;
    border-radius: 3px;
    background: none;
    color: black;
    border: 1px solid whitesmoke;
    padding-bottom: 1px;
    padding-top: 1px;
    
    /*border: 1px solid lightgray;*/
}
.fa-trash {
    border: none;
    background: none;
    margin-top: 8px;
    float: left;

}
/*.read-button {
    margin-top: 5px;
    margin-right: 5px;
    float: right;
    font-family: Oswald;
    font-weight: 400;
    font-size: 11px;
    border-radius: 3px;
    background: none;
    color: black;
    border: 1px solid lightgray;
}*/




.transparent-input {
    background: none;
    color: white;
    border: none;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
    font-size: 16px;
    font-family: Oswald;
    font-weight: 300;
    
}

.content {
    font-family: Oswald;
    font-weight: 300;
    overflow: auto;
}

.entry-flex {
    /*text-indent: 5px;*/
    padding-left: 10px;
    padding-right: 10px;
    
    
    width: 200px;
    height: 200px;
    border: 1px solid lightgrey;
    margin-top: 10px;
    overflow: auto;
    border-radius: 5px;
    
    
    
}


.log-container {

    /*border: 1px solid lightgray;*/
    margin: auto;
    height: 450px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start space-between;
    overflow: auto;    

    

}

.flex-log {
    

    /*border: 1px solid lightgray;*/
    width: 90%;
    margin: auto;
    margin-top: 7%;



    

}

.log-container::-webkit-scrollbar {
    display: none;
}
.flex-log ::-webkit-scrollbar {
    display: none;
}



.white-space {
    /*border: 1px solid black;*/
    height: 80px;
    width: 100%;
    margin-bottom: 10px;
    padding-top: 10px;
    text-align: center;  
 
}
.le-title {
    font-family: Oswald;
    font-size: 32px;
}



