a {
    color: darkgray;
    font-size: 13px;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    font-size: 13px;
}

.sign-up-font {
    font: 400 100px/1.3 'Lobster Two', Helvetica, sans-serif;
    color: white;
    text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-size: 55px;
    margin-top: 10%;
}

.h-about {
    font: 400 100px/1.3 'Lobster Two', Helvetica, sans-serif;
    color: white;
    text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-size: 55px;
    margin-top: 0;
    margin-bottom: 18%;
}

.subheading {
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
    color: white;
    font-size: 22px;
}

.title-date {
    box-sizing: border-box;
    /*    padding: 50px 50px;*/
    border: none;
    /*    border-radius: 2px;*/
    width: 150px;
    /*    margin: auto;*/
    padding-top: 5%;
    padding-right: 5%;
    position: absolute;
    padding: 0;
    top: 29.5%;
    left: 15px;
}


/*
.title-date-final {
    box-sizing: border-box;
    border: none;
    width: 150px;
    padding-top: 5%;
    padding-right: 5%;
    position: absolute;
    padding: 0;
    top: 7%;
    left: 14%;
}
*/

.mid {
    box-sizing: border-box;
    padding: 50px 50px;
    border: none;
    border-radius: 2px;
    width: 300px;
    margin: auto;
    padding-top: 10%;
}

.mid-two {
    box-sizing: border-box;
    padding: 50px 50px;
    border: none;
    border-radius: 2px;
    width: 400px;
    margin: auto;
    padding-top: 10%;
}

.mid-three {
    box-sizing: border-box;
    padding: 50px 50px;
    border: none;
    border-radius: 2px;
    width: 300px;
    margin: auto;
    padding-top: 17%;
}

input {
    width: 100%;
    padding-top: 10%;
    font-size: 15px;
    box-sizing: border-box;
}

.top {
    width: 100%;
    height: 6%;
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
}

footer {
    width: 100%;
    height: 6%;
    position: absolute;
    background-color: white;
    bottom: 0;
    left: 0;
}

.twitter-follow-button {
    right: 8px;
    position: absolute;
    bottom: 8px;
    color: dodgerblue;
    font-size: 12px;
}

.pure-button {
    width: 100%;
    background-color: dodgerblue;
    color: white;
    font-size: 15px;
    padding: 10px;
    margin-top: 5px;
}

.follow-text {
    margin-left: 3px;
    color: black;
    font-size: 11px;
    font-weight: bold;
}

.fa-user {
    position: absolute;
    top: 1.5%;
    left: 25px;
    color: darkgray;
}

button.log-in {
    background: none;
    position: fixed;
    border: none;
    padding: 0;
    top: 1.5%;
    right: 25px;
    color: darkgray;
    font-weight: bold;
    font-size: 13px;
    /*    font: 400 16px/1.3 'Lobster Two', Helvetica, sans-serif;*/
}

button.sign-out {
    background: none;
    position: absolute;
    border: none;
    padding: 0;
    top: 1.5%;
    right: 25px;
    color: darkgray;
    font-weight: bold;
    font-size: 13px;
}

body.main {
    background-color: white;
    box-sizing: border-box;
    padding: 50px 50px;
    border: none;
    border-radius: 2px;
    width: 300px;
    margin: auto;
}

.form {
    margin-top: 0%;
}

.background-pic {
    background-image: url("/images/unsplash_52d8277ccad75_1-1.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    /*    background-color: lightgray;*/
}

.about-pic {
    background-image: url("/images/rivers.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.who-we-are {
    margin-top: 5%;
    text-align: center;
    font-style: bold;
    color: white;
    font-size: 19px;
}

span.words-run {
    font: 400 27px/1.3 'Lobster Two', Helvetica, sans-serif;
    color: white;
}

textarea {
    display: block;
    width: 70%;
    margin: auto;
    margin-top: 15%;
    resize: none;
    margin-bottom: 2%;
    font-size: 14px;
}

button.submit {
    background: none;
    border: none;
    padding: 0;
    color: darkgray;
    margin-bottom: 5%;
    margin-right: 15%;
    float: right;
    font-weight: bold;
    font-size: 13px;
    margin-top: 3%;
}

.About-big {
    font: 400 100px/1.3 'Lobster Two', Helvetica, sans-serif;
    color: white;
    text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-size: 55px;
    margin-top: 0;
    box-sizing: border-box;
    padding: 50px 50px;
    border: none;
    border-radius: 2px;
    width: 400px;
    margin: auto;
    padding-top: 5%;
}


/*
* {
    list-style: none;
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
*/


}
#navBar {
    height: 20px;
    color: darkgray;
}
#navBar ul {
    position: absolute;
    top: 1.5%;
    left: 10px;
    /*    text-decoration: none;*/
    
    list-style: none;
    /*    color: red;*/
    
    font-size: 13px;
}
.green {
    color: dodgerblue;
}
form {
    margin-top: 100px;
    width: 70%;
    margin: auto;
}
.ta-toolbar {
    margin-top: 100px;
    width: 100%;
    margin: auto;
}
.entry-text .ta-toolbar {
    display: none;
}
.entry-text {
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 5px;
    border: 2px solid black;
    padding-top: 15px;
}

.journal-button {
    background: none;
    position: absolute;
    border: none;
    padding: 0;
    top: 1.5%;
    right: 25px;
    color: darkgray;
    font-weight: bold;
    font-size: 13px;
}

    