<header>
    <!--<div class="top">-->
    <!--    <i class="fa fa-user"></i>-->
    <a href="/#/logIn">
        <img alt="brand" src="/shared/images/treegreen.jpg" class="navbar-logo">
    </a>
    <a href='/#/logIn'>
        <button class="log-in">LOG IN</button>
    </a>
    <!--</div>-->
</header>
<div class="background-pic">
    <div class="mid">





        <!--        <li hover add-class="green">-->
        
            <h1 class="sign-up-font">Le Retour</h1>
        <h4 class="subheading">This world is your journal,<br> take it with you,<br> share your experiences</h4>
        <!--    <h1>{{message}}</h1>-->
    </div>


    <div class="mid-1">
        <div class="input-field">
            <input ng-model="user.name" type="text" placeholder="Name" spellcheck="false" class="transparent-input">
            <input ng-model="user.email" type="text" placeholder="Email" spellcheck="false" class="transparent-input">

            <input ng-model="user.password" type="password" placeholder="Password" ng-enter="signUp(user)" class="transparent-input">
            <input ng-model="password2" type="password" placeholder="Confirm Password" ng-enter="signUp(user)" class="transparent-input">
        </div>

        <br>


        <button class="signup-log" ng-click="signUp(user)">Sign Up</button>
    </div>



    <footer>

        <!--<div class="twitter">-->
        <a href="https://twitter.com/_leretour" target="_blank"><img src="shared/images/tweet-four.png" alt="tweet" class="twitter-logo">
        </a>
        
        <a href="https://facebook.com/leretourjournal" target="_blank"><img src="shared/images/fb-four.png" alt="facebook" class="fb-logo">

        <a href="https://instagram.com/_leretour" target="_blank"><img src="shared/images/ig-one.png" alt="instagram" class="ig-logo">
    </footer>





</div>